<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layout_style.css">
</head>
<body>
<div class="container">
    <div class="box">
        <div class="box_left">Đăng nhập</div>
        <div class="box_right">Thoát ra</div>
    </div><br>
    <div class="box1">
        <h1>NAVIGATION</h1>
    </div><br>
    <div class="items">
        <div class=" item1">Side Bar</div>
        <div class=" item2">Content</div>
    </div><BR>
    <div class="box1"><H1>FOOTER</H1></div></div>
<br><br>
<div class="container">
    <div class="layout3"><h1>Header</h1>
        <div class="box_right1"><h3>Menu</h3></div>
    </div><br>
    <div class="sa">
    <div class="article">
        <div class="article1"><h1>Article 1</h1></div>
        <div class="article2"><h1>Article 2</h1></div></div>
    <div class="sidepart"><h1>Sidepart</h1></div></div>
</div><br>
<div class="footer"><h1>Footer</h1></div>
<br><br><br><br>


<div class="container">
    <div class="khungweb">
        <div class="Header">Header</div>
        <div class="sa1">
            <div class="sa_left">
                <div class="khungtren">Khung trên</div>
                <div class="khungduoi">
                    <div class="khungduoitrai">
                        <div class="khungduoi1">trái 1</div>
                        <div class="khungduoi2">trái 2</div></div>
                    <div class="khungduoiphai">phải</div>
                </div>
            </div>
            <div class="sa_right">
                <div class="sa_right1">
                    <div class="sa1_1"></div>
                    <div class="sa1_2"></div>
                </div>
                <div class="sa_right2">
                </div>
                <div class="sa_right3">
                    <div class="sa3_1"></div>
                    <div class="sa3_2"></div>
                    <div class="sa3_3"></div>
                </div>
                <div class="sa_right4"></div>
            </div>
        </div>
        <div class="end"></div>
    </div>
    
</div>
</body>
</html>